
@tailwind utilities;
@import "tailwindcss";





/* Add this at the top of your index.css or App.css file */

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 600s linear infinite;
}

.marquee span {
  white-space: nowrap;
}


  body {
    font-family: 'Proxima Nova', sans-serif;
  }

  
  @font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximanova_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @keyframes zoomIn {
    0% {
      transform: scale(1.0);
      opacity: 0;
    }
    100% {
      transform: scale(1.15); /* smaller zoom */
      opacity: 1;
    }
  }
  
  .zoom-in {
    animation: zoomIn 1s ease-out forwards;
  }
  
  